body{
  background-color: #DFFFD8;
}
h1{
   color: #939B62;
   text-align: center;
}
ol{
  color: #443C68;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  font-weight: 600;
}
ul{
  color: #674188;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  font-weight: 600;
}
p{
  font-size: 20;
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
}
img{
  padding: 20px;
  align-items: justify;
  
}